.sidebarClose {
    clip-path: circle(1.5rem at 1.5rem 1.5rem);
}

.sidebar {
    transition: 0.4s linear;
}

.sidebarOpen {
    clip-path: circle(1000px at 1.5rem 1.5rem);
}
.sidebarBtn {
    top: 1.5rem;
    left: 1.5rem;
    transform: translate(-50%, -50%);
}
