.headerGroup ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 5px auto ;

  /* border: 1px solid red; */

  align-items: center;
}

.headerGroup ul li {
  width: 150px;
  /* border: 1px solid orange; */
  list-style-type: none;
  text-align: center;
}
